<h2>Request: id# <%= @request.id %></h2>

<p>Cat: <%= @request.cat.name %></p>
<p>Start Date: <%= @request.start_date %></p>
<p>End Date: <%= @request.end_date %></p>
<p>Status: <%= @request.status %>!</p>