<h3><%= @cat.name %></h3>
<hr>
<table>
  <tr>
    <th>Age</th>
    <th>Color</th>
    <th>Sex</th>
    <th>Birthday</th>
  </tr>
  <tr>
    <td><%= @cat.age %></td>
    <td><%= @cat.color %></td>
    <td><%= @cat.sex %></td>
    <td><%= @cat.birthday %></td>
  </tr>
</table>